<button #sidenavBtn mat-fab color="primary" class="sidenav-button"  (click)="toggleSidenav()" [disableRipple]="true"><mat-icon>{{buttonIcon}}</mat-icon></button>
<mat-drawer-container class="container" hasBackdrop="false">
  <mat-drawer class="nav" #sidenav mode="over" [autoFocus]="false" (closedStart)="toggleSidenav(false)" (openedStart)="toggleSidenav(true)">
    <mat-divider></mat-divider>
    <div #menuBtns class="flex-box">
      <div class="menu-button-container noselect" *ngFor="let menuItem of menuButtonItems"  routerLink="{{menuItem.link}}" (click)="setActive($event)">
        <button mat-icon-button class="menu-button-item noselect" disableRipple="true">
          <mat-icon class="menu-buttin-item-icon">{{menuItem.icon}}</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content id="content">
    <div class="content" >
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



